<div class="wrapper">

  <form class="add-task-container">
    <mat-form-field>
      <mat-label>Введите новую задачу</mat-label>
      <input matInput type="text" #newTaskLabel>
    </mat-form-field>
    <button mat-flat-button type="button" color="primary" (click)="add(newTaskLabel.value)" class="add-button">Добавить</button>
  </form>

  <mat-list>

    <mat-divider></mat-divider>

    <mat-list-item *ngFor="let task of tasks">
      <mat-divider></mat-divider>
      <div mat-line>
        <mat-checkbox [checked]="task.done" (change)="toggle(task)"></mat-checkbox>
        {{task.label}}
      </div>
      <div mat-line>{{task.dateSince}}</div>
      <button mat-mini-fab color="accent" (click)="delete(task)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>

  </mat-list>
</div>

<div>
  <router-outlet></router-outlet>
</div>
