.wrapper
  padding: 0px 16px

.add-task-container
  display: flex
  flex-direction: row
  width: 100%
  align-items: center

  .mat-form-field
    padding-right: 16px
    flex-basis: 100%

  .add-button
    display: flex
    flex-grow: 0
    flex-shrink: 0
